body {
  background-image: url("../img/circuit_o.25.png");
  background-repeat: repeat;
  font-family: 'VT323', monospace;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

.form-control {
  width: 500px;
  display: block;
  margin: auto;
}

#beepBoopResult {
  font-size: 60px;
}

#num {
  height: 80px;
  width: 800px;
  font-size: 60px;
}

#clear {
  height: 80px;
  width: 150px;
  font-size: 30px;
}

#button-text {
  margin-top: 10px;
  width: 800px;
  height: 90px;
  font-size: 40px;
}

#SURPRISE {
  display: none;
}

#submit {
  height: 250px;
  width: 250px;
}

#centerPage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#robo {
  height: 675px;
  width: 675px;
}
